 <div class="form-edit card p-3 mt-5" style="width: 18rem;"> 
  <h1>Edit Property</h1>

  <%= render "form", property: @property %>

  <br>

  <div class="mt-1">
    <%= link_to "Show this property", @property, class:"btn btn-primary mb-2" %>
    <br />
    <%= link_to "Back to Properties", properties_path, class:"btn btn-primary mb-2" %>
    <br />
    <%= button_to "Delete this Property", @property, method: :delete, class:"btn btn-primary" %>
  </div>
</div>