<h1>Editing property</h1>

<%= render "form", property: @property %>

<br>

<div class="mt-1">
  <%= link_to "Show this property", @property, class:"btn btn-primary mr-1" %>
  <%= link_to "Back", properties_path, class:"btn btn-primary m-1" %>
</div>
