<p style="color: green"><%= notice %></p>

<h1>Properties</h1>

<div class="row d-md-flex flex-row flex-wrap justify-contente-aroud align-items-center mb-5" id="properties">
  <% @properties.each do |property| %>
    <div class="col m-auto card-with-button">
      <%= render property %>
      <p class="mt-1">
      <%= link_to "Show this Property", property, class:"btn btn-primary" %>
      </p>
    </div>
  <% end %>
</div>
