<div class="form-new card p-3 mt-5" style="width: 18rem;">
  <h1>Add a Property</h1>

  <%= render "form", property: @property, class:"btn btn-primary" %>

  <br>

  <div>
    <%= link_to "Back to properties", properties_path, class:"btn btn-primary" %>
  </div>
</div>
