<p style="color: green"><%= notice %></p>

<%= render @property %>

<div class="mt-1">
  <%= link_to "Edit", edit_property_path(@property), class:"btn btn-primary m-1" %>
  <%= link_to "Back", properties_path, class:"btn btn-primary m-1" %>
</div>
