<div style="width: 100%vh%; height: 50vh; background-image: url(<%= rails_blob_url(@property.pictures[2]) %>); background-position: center; background-repeat: no-repeat; background-size: cover;">
  <p>
    lorem ipsum
  </p>
</div>

<div class="mt-1">
  <%= link_to "Edit", edit_property_path(@property), class:"btn btn-primary m-1" %>
  <%= link_to "Back", properties_path, class:"btn btn-primary m-1" %>
</div>