<div class="d-flex justify-content-start align-items-end" style="width: 100%; height: 60vh; background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%), url(<%= rails_blob_url(@property.pictures[2]) %>); background-position: center; background-repeat: no-repeat; background-size: cover;">
  <%= link_to "Edit", edit_property_path(@property), class:"btn btn-secondary m-1 align-self-start" %>

  <div class="text-white" style="width: 18rem; margin: 0 0 1vh 1vh">    
    <div class="">
      
      <h5 class="text-capitalize card-title pt-1">
        <%= @property.name %>
      </h5>
      <h4 class="text-capitalize">
        <%= @property.address %>
      </h4>
      <p class="card-text">
        
      </p>
      
    </div>
  </div>


</div>
<div class="sidenav">
  <a href="#about">About</a>
  <a href="#services">Services</a>
  <a href="#clients">Clients</a>
  <a href="#contact">Contact</a>
</div>
<div class="lower-half" style="margin: 2vh 35vh 0 2vh;">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sollicitudin odio ut dolor ultrices pellentesque. Integer consectetur leo consequat orci blandit, sed sagittis sem aliquam. Nulla placerat ac velit in posuere. Ut malesuada ac elit ac sodales. Morbi tristique urna ac massa aliquet, at malesuada lorem euismod. Suspendisse ut suscipit erat. Morbi finibus dui ligula. In egestas eu libero vitae iaculis. Vestibulum eu posuere arcu.

    Phasellus eget tempor nisl. Aliquam erat volutpat. Quisque laoreet faucibus nisi sodales gravida. Quisque dictum euismod odio ornare cursus. Phasellus arcu velit, faucibus nec fermentum sollicitudin, hendrerit in diam. Suspendisse vestibulum elementum consectetur. In vulputate neque nisl, eu tristique justo aliquam sed. Phasellus quis purus elit. Mauris fermentum luctus dolor a pellentesque. Nullam ullamcorper orci at mi consequat dapibus. Suspendisse condimentum, ex vel lobortis tincidunt, ante magna rutrum diam, et blandit lectus diam at metus.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sollicitudin odio ut dolor ultrices pellentesque. Integer consectetur leo consequat orci blandit, sed sagittis sem aliquam. Nulla placerat ac velit in posuere. Ut malesuada ac elit ac sodales. Morbi tristique urna ac massa aliquet, at malesuada lorem euismod. Suspendisse ut suscipit erat. Morbi finibus dui ligula. In egestas eu libero vitae iaculis. Vestibulum eu posuere arcu.

    Phasellus eget tempor nisl. Aliquam erat volutpat. Quisque laoreet faucibus nisi sodales gravida. Quisque dictum euismod odio ornare cursus. Phasellus arcu velit, faucibus nec fermentum sollicitudin, hendrerit in diam. Suspendisse vestibulum elementum consectetur. In vulputate neque nisl, eu tristique justo aliquam sed. Phasellus quis purus elit. Mauris fermentum luctus dolor a pellentesque. Nullam ullamcorper orci at mi consequat dapibus. Suspendisse condimentum, ex vel lobortis tincidunt, ante magna rutrum diam, et blandit lectus diam at metus.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sollicitudin odio ut dolor ultrices pellentesque. Integer consectetur leo consequat orci blandit, sed sagittis sem aliquam. Nulla placerat ac velit in posuere. Ut malesuada ac elit ac sodales. Morbi tristique urna ac massa aliquet, at malesuada lorem euismod. Suspendisse ut suscipit erat. Morbi finibus dui ligula. In egestas eu libero vitae iaculis. Vestibulum eu posuere arcu.

    Phasellus eget tempor nisl. Aliquam erat volutpat. Quisque laoreet faucibus nisi sodales gravida. Quisque dictum euismod odio ornare cursus. Phasellus arcu velit, faucibus nec fermentum sollicitudin, hendrerit in diam. Suspendisse vestibulum elementum consectetur. In vulputate neque nisl, eu tristique justo aliquam sed. Phasellus quis purus elit. Mauris fermentum luctus dolor a pellentesque. Nullam ullamcorper orci at mi consequat dapibus. Suspendisse condimentum, ex vel lobortis tincidunt, ante magna rutrum diam, et blandit lectus diam at metus.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sollicitudin odio ut dolor ultrices pellentesque. Integer consectetur leo consequat orci blandit, sed sagittis sem aliquam. Nulla placerat ac velit in posuere. Ut malesuada ac elit ac sodales. Morbi tristique urna ac massa aliquet, at malesuada lorem euismod. Suspendisse ut suscipit erat. Morbi finibus dui ligula. In egestas eu libero vitae iaculis. Vestibulum eu posuere arcu.

    Phasellus eget tempor nisl. Aliquam erat volutpat. Quisque laoreet faucibus nisi sodales gravida. Quisque dictum euismod odio ornare cursus. Phasellus arcu velit, faucibus nec fermentum sollicitudin, hendrerit in diam. Suspendisse vestibulum elementum consectetur. In vulputate neque nisl, eu tristique justo aliquam sed. Phasellus quis purus elit. Mauris fermentum luctus dolor a pellentesque. Nullam ullamcorper orci at mi consequat dapibus. Suspendisse condimentum, ex vel lobortis tincidunt, ante magna rutrum diam, et blandit lectus diam at metus.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sollicitudin odio ut dolor ultrices pellentesque. Integer consectetur leo consequat orci blandit, sed sagittis sem aliquam. Nulla placerat ac velit in posuere. Ut malesuada ac elit ac sodales. Morbi tristique urna ac massa aliquet, at malesuada lorem euismod. Suspendisse ut suscipit erat. Morbi finibus dui ligula. In egestas eu libero vitae iaculis. Vestibulum eu posuere arcu.

    Phasellus eget tempor nisl. Aliquam erat volutpat. Quisque laoreet faucibus nisi sodales gravida. Quisque dictum euismod odio ornare cursus. Phasellus arcu velit, faucibus nec fermentum sollicitudin, hendrerit in diam. Suspendisse vestibulum elementum consectetur. In vulputate neque nisl, eu tristique justo aliquam sed. Phasellus quis purus elit. Mauris fermentum luctus dolor a pellentesque. Nullam ullamcorper orci at mi consequat dapibus. Suspendisse condimentum, ex vel lobortis tincidunt, ante magna rutrum diam, et blandit lectus diam at metus.
  </p>
</div>