<footer class="bg-dark">
  <div class="upper-footer container-fluid">
    <div class="row">
      <div class="upper-component mt-2">
        <div class="pb-1 pt-2">
          <a class="footer-link" href="#"><i class="bi bi-facebook"></i></a>
          <a class="footer-link" href="#"><i class="bi bi-whatsapp"></i></a>
          <a class="footer-link" href="#"><i class="bi bi-instagram"></i></a>
          <a class="footer-link" href="#"><i class="bi bi-linkedin"></i></a>
        </div>
        <p class="text-footer">
          Edificio Office Green - R. da Praça, 241 - Sala 712/713, Pedra Branca, Palhoça - SC - 88137086
        </p>
        
      </div>
    </div>
  </div>
</footer>