<nav id="header" class="navbar navbar-expand-lg navbar-light bg-white border-bottom border-secondary">
  <div class="container-fluid">
  <%= link_to "Rent a Property", root_path, class:"navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse pt-1" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Properties", root_path, class:"nav-link active" %>
        </li>
        <li class="nav-item">
          <%= link_to "Add Property", new_property_path, class:"nav-link active" %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"  href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="bi bi-globe"></i>
            Support
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="#">
                Whatsapp
                <br />
                <i class="bi bi-whatsapp"></i>
                +55 55 55555-55555
              </a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
              <a class="dropdown-item" href="#">
                Phone
                <br />
                <i class="bi bi-telephone"></i>
                +55 55 55555-55555
              </a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
              <a class="dropdown-item" href="#">
                E-mail
                <br />
                <i class="bi bi-envelope"></i>
                email@email.com
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>