#header {
  overflow: auto;
  top: 0;
  width: 100%;
}

#main {
  margin-bottom: 800px;
  background-color: #f8f9fe;
}

.carousel-property {
  width: 40vh;
}

.card-with-button {
  margin: 2vh 1vh;
}

#properties {
  overflow: auto;
  max-height: 90vh;
}

.card {
  border: black solid 2px;
  width: 100%;
  height: auto;
}

.carousel-pics {
  max-width: 286px;
  height: 170px;
}

.form-new {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20vh;
  margin-bottom: 30vh;
}

.form-edit {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20vh;
  margin-bottom: 30vh;
}

.show-div {
  
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

.map-responsive {
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}

.map-responsive iframe {
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

.sidenav {
  width: 23rem;
  position: fixed;
  z-index: 1;
  top: 50vh;
  right: 3vh;
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #2196F3;
  display: block;
}

.sidenav a:hover {
  color: #064579;
}

.lower-half {
  margin: 2vh 42vh 8vh 2vh;
}

@media (max-width: 767.98px) {
  .sidenav {
    display: none;
  }

  .lower-half {
    margin: 2vh 2vh 2vh 2vh;
  }

  .card-text {
    font-size: 0.6rem;
  }
}