#main {
  margin-bottom: 800px;
  background-color: #F8F9FE;
}

.card {
  border: black solid 2px;
}

.carousel-pics {
  max-width: 286px;
  height: 170px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}
